@font-face {
  font-family: "iconfont"; /* Project id 1324955 */
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.woff2') format('woff2'),
         url('../fonts/iconfont.woff') format('woff'),
         url('../fonts/iconfont.ttf') format('truetype');
  }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-tux:before {
    content: "\e7b4";
  }
  
  .icon-wangyiyunyinle-:before {
    content: "\e62c";
  }
  
  .icon-xicheng:before {
    content: "\e608";
  }
  
  .icon-shejiaotubiao-46:before {
    content: "\e64b";
  }
  
  .icon-wangyiyunyinle:before {
    content: "\e63c";
  }
  
  .icon-csdn:before {
    content: "\e638";
  }
  .icon-woodenfish:before {
    content: "\e658";
  }
  
  